body {
  background-color: #2121;
  font-family: Arial, sans-serif;
  margin: 10% 10%
}
.name{
  text-align: center;
}
.header{
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
}

img {
  display: block;
  width: 150px;
  position: absolute;
  left: 1200px;
  filter: drop-shadow(15px 5px 2px #4444);
}
